* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    background-color: rgb(25,162,174);
    background-image: url(bg-pattern-top.svg), url(bg-pattern-bottom.svg);
    background-size: 80vh;
    background-repeat: no-repeat;
    background-position: right calc(47vw + 15%) bottom calc(65vh - 15vw), left calc(40vw + 25%) top calc(72vh - 15vw);
    background-attachment: fixed;
}

body {
    min-width: 18em;
    font-size: 1.6rem;
    font-family: 'kumbh sans', Sans-Serif;
    height: 100vh; /* set fixed height to allow vertical centering */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* center vertically */
}

.main {
    max-width: 22em;
    width: 80%;
    text-align: center;
    margin-top: 13rem;
}

.card {
    background-color: red;
    background: white;
    width: 100%;
    padding: 0;
    border-radius: 2rem;
}

.img-bg {
    background-image: url('bg-pattern-card.svg');
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    padding-top: 9rem;
    margin-bottom: 8rem;
}

img {
    border-radius: 50%;
    border: 0.3rem #fff solid;
    margin-bottom: -5.5rem; /* pushes the img down pass its container */
}

.profile {
    margin-top: 5rem;
}

h1 {
    font-size: 1.8rem;
    margin-bottom: 0.9rem;
    font-weight: 700;
    color: rgb(45,50,72);
}

h1>span {
    margin-left: 0.6rem;
    font-weight: 400;
}


h1>span, .city {
    color: rgb(150,150,150);
    margin-bottom: 2rem;
}

p {
    letter-spacing: 0.2rem;
}

.profile-stats {
    display: flex;
    justify-content: space-around;
    border-top: 0.1rem rgba(150,150,150, 0.4) solid;
    padding: 2.5rem 3rem;
}

h2 {
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    color: rgb(106,111,129);
}

.profile-stats>div>p {
    color: rgb(150,150,150);
    font-size: 1rem;
}

footer {
    margin-top: 12rem;
}

.attribution {
    font-size: 11px; text-align: center;
}

.attribution>p {
    display: inline;
}

.attribution a{
    color: hsl(228, 45%, 44%);
}
